
<!--&lt;!&ndash;<div class="card text-center mx-auto mt10 shadow-sm p-3 mb-5 bg-white rounded">&ndash;&gt;-->

<!--&lt;!&ndash;    <div class="card-body ">&ndash;&gt;-->
<!--&lt;!&ndash;        <h5 class="card-title mb-0"></h5>&ndash;&gt;-->
<!--&lt;!&ndash;        <p class="card-text">ยินดีต้อนรับ โปรดลงชื่อเข้าใช้</p>&ndash;&gt;-->
<!--&lt;!&ndash;        <form >&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-group mb-3">&ndash;&gt;-->

<!--&lt;!&ndash;                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ชื่อผู้ใช้">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="form-group  mb-3">&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="รหัสผ่าน">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="submit" class="btn btn-blue w200">ลงชื่อเข้าใช้</button>&ndash;&gt;-->

<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="d-flex justify-content-center align-items-center mt3">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="mr-2">&ndash;&gt;-->
<!--&lt;!&ndash;                    หรือ เข้าสู่ระบบผ่าน&ndash;&gt;-->
<!--&lt;!&ndash;                </span>&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fab fa-facebook-square fa-lg" (click)="submitLogin()"></i>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div class="mt5 d-flex justify-content-center align-items-baseline">&ndash;&gt;-->
<!--&lt;!&ndash;                <small class="mr-1">ลงทะเบียน</small>&ndash;&gt;-->
<!--&lt;!&ndash;                <small><b>ที่นี่</b></small>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->

<!--</div>-->
