nav{

    background-color: #154360;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    .nav-item{
        color: aliceblue;
    }
    .fas.nav-icon{
        color: aliceblue;
        &:hover{
            color: #3b7091;
        }
    }
    .dropdown-item.fas{
        color: black;
    }
    &:hover{
        cursor: pointer;

    }
}
