.text-head{
    font-size: 20px;
    display: inline-block;
}

.stone-img{
    width:300px;
}
.stone-img-sm{
    width:40px;
    height: 40px;
}
i{

  &.fa-heart {
    color: #B8817D;

    &:hover {
      cursor: pointer;
      color: #E36145;
    }
  }
  &.fa-trash-alt{
    color: red;
    right: 20px;
    top: 20px;
    &:hover{

    }

  }
  &.fa-edit{
    color: dimgray;
    right: 40px;
    top: 20px;
  }
  &:hover{
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
  }


}
.badge-a{
  background-color: #54768B;
  color: aliceblue;
}
