
.body {
  //background-color: rgba(77,137,150,0.3);
  //background: rgb(215,215,215);
  //background: -moz-linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(21,67,96,1) 100%);
  //background: -webkit-linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(21,67,96,1) 100%);
  //background: linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(21,67,96,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7d7d7",endColorstr="#154360",GradientType=1);
  //background: rgb(215,215,215);
  //background: -moz-linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(144,174,193,1) 100%);
  //background: -webkit-linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(144,174,193,1) 100%);
  //background: linear-gradient(360deg, rgba(215,215,215,1) 0%, rgba(144,174,193,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7d7d7",endColorstr="#90aec1",GradientType=1);
}
.card{
  max-width: 1000px;
  max-height: fit-content;
}
.img-button{
  display: block;
}
